.item-list {
  box-shadow: 0 0 10px #000000;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 10px;
  max-height: 500px;
  max-width: 320px;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  & h4 {
    margin-bottom: 10px;
  }

  & .item-list-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    & p {
      margin: 0;
    }
  }

  & .item-list-discount {
    color: #ff0000;
  }
}

.item-list:hover {
  background-color: #c0c0c0;
}
