.authorisation-form {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.authorisation-form .field {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkbox-label {
  width: 100%;
}
