.header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 6px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  background-image: url('/src/assets/medium-vecteezy_ecstatic-young-man-embracing-new-car-imagining-purchase-at_27184857_medium.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.auth-link {
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.auth-link:hover {
  color: #0051a3;
}
